/*Variables: 
fonts
font-family: 'PT Serif', serif;
font-family: 'Poppins', sans-serif;
*/

:root{
    --font-ptSerif: 'PT Serif', serif;
    --font-poppins: 'Poppins', sans-serif;
}

html{
    width: 100%;
    height: 100vh;
}

/*header*/
.header__container--title{
    font-family: var(--font-ptSerif);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 4.3rem 0 2.3rem .75rem;
}

.header__container--subtitle{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.125rem;
    font-family: var(--font-poppins);
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: .75rem;
}

.header__container--paragraph{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-poppins);
    line-height: 21px;
    margin: 10px 0 0 12px;
    /* padding-bottom: 40px; */
}

/*main content*/
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info__container{
    width: 190px;
    display: flex;
    align-items: flex-start;
}

img{
    width: 139px;
    height: 209px;
}

.position-bill{
    font-size: .625rem;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline;
    transform: rotateZ(90deg);
    position: relative;
    right: 35px;
    top: 90px;
}

.position-saba {
    font-size: .625rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 30px;
}

.position-shae{
    font-size: .625rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 80px;
}

.position-skylah{
    font-size: .625rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 30px;
}

.position-griff{
    font-size: .625rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 80px;
}

.position-stan{
    font-size: .625rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 30px;
}

.bill-img, .shae-img, .griff-img{
    margin-left: 15px;
    padding-top: 52px;
}

.name{
    grid-column-start: 1;
    font-size: .875rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    margin-left: 19px;
    margin-top: 10px;
}

.name2{
    grid-column-start: 1;
    font-size: .875rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    margin-top: 10px;
}

.div-saba{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 6rem;
}

.div-skylah{
    padding-top: 5rem;
}

.div-stan{
    padding-top: 5rem;
}

/*footer*/
.footer{
    margin-top: 4rem;
}

/*====================== MEDIA QUERIES ==========*/
@media all and (min-width:1024px) {
    /*header*/

.header__container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.header__container--div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__container--title{
    font-size:2.25rem;
    margin: 5rem 0 0 7rem;
    /*top rigth bottom left*/
    }
    
.header__container--subtitle{
    margin: 6rem 0 0 6rem;
}

.header__container--paragraph{
    padding-left: 6rem;
    margin: 1rem 23rem 0 0;
    line-height: 27px;
}

/*main content*/
.main__container{
    margin-left: 7rem;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .info__container{
    display: flex;
    align-items: flex-start;
} */

img{
    width: 238px;
    height: 341px;
}

.bill-img{
    margin-left: 0;
}

.position-bill{
    font-size: .75rem;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 100px;
}

.position-saba {
    font-size: .75rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 50px;
}

.position-shae{
    font-size: .75rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 90px;
}

.position-skylah{
    font-size: .75rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 50px;
}

.position-griff{
    font-size: .75rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 100px;
}

.position-stan{
    font-size: .75rem;
    text-transform: uppercase;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 50px;
}

.shae-img, .griff-img{
    margin-left: 0;
    padding-top: 52px;
}

.name, .name2{
    font-size: 1.125rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    margin-left: 0;
    margin-top: 20px;
}

/* .name2{
    grid-column-start: 1;
} */

.div-saba{
    padding-top: 7rem;
}

.div-skylah{
    padding-top: 4rem;
}

.div-stan{
    padding-top: 3rem;
}

.div-griff{
    padding-top: 5rem;
}
/*footer*/
.footer{
    margin-top: 4rem;
    text-align: center;
}
}
