/*Variables: 
fonts
font-family: 'PT Serif', serif;
font-family: 'Poppins', sans-serif;
*/

:root{
    --font-ptSerif: 'PT Serif', serif;
    --font-poppins: 'Poppins', sans-serif;
}

/*header*/
.header__container--title{
    font-family: var(--font-ptSerif);
    font-size: 2.25rem;
    font-weight: 700;
    margin: 4.3rem 0 2.3rem .75rem;
}

/*main content*/
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__container--title{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.125rem;
    font-family: var(--font-poppins);
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: bold;
    margin-left: .75rem;
}

.main__container--paragraph{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-poppins);
    line-height: 21px;
    margin: 10px 0 0 12px;
    /* padding-bottom: 40px; */
}

.info__container{
    display: flex;
    align-items: flex-start;
}

img{
    width: 139px;
    height: 209px;
}

.position-bill{
    font-size: .625rem;
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline;
    transform: rotateZ(90deg);
    position: relative;
    right: 20px;
    top: 90px;
}

.bill-img, .shae-img, .griff-img{
    margin-left: 19px;
    padding-top: 52px;
}

.name{
    grid-column-start: 1;
    font-size: .875rem;
    font-weight: 600;
    font-family: var(--font-poppins);
    margin-left: 19px;
    margin-top: 10px;
}

.div-saba{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 1rem;
}

/*footer*/
.footer{
    margin-top: 4rem;
}